<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns:gap="http://phonegap.com/ns/1.0" xmls="http://www.w3.org.ns/widgets" id="uned.phonegap.example" version="1.0.0">
  <preference name="orientation" value="default" />
  <content>mobile.html?lab_id=asdfasdfasdf</content>
  <preference name="phonegap-version" value="3.6.3" />
  <name>Prueba 2</name>
  <gap:platform name="winphone" />
  <gap:platform name="ios" />
  <gap:platform name="android" />
  <preference name="LogLevel" value="ERROR" />
  <preference name="android-minSdkVersion" value="7" />
  <preference name="AndroidLaunchMode" value="singleTop" />
  <preference name="PaginationMode" value="unpaginated" />
  <preference name="SplashScreenDelay" value="3000" />
  <preference name="PaginationBreakingMode" value="page" />
  <preference name="android-installLocation" value="internalOnly" />
  <preference name="android-targetSdkVersion" value="7" />
  <preference name="android-maxSdkVersion" value="7" />
  <preference name="TopActivityIndicator" value="gray" />
  <preference name="target-device" value="universal" />
  <preference name="BackupWebStorage" value="cloud" />
  <preference name="LoadUrlTimeoutValue" value="20000" />
  <preference name="UIWebViewDecelerationSpeed" value="normal" />
  <gap:plugin name="org.apache.cordova.battery-status" />
  <author>Autor ....</author>
</widget>
