<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns:gap="http://phonegap.com/ns/1.0" xmls="http://www.w3.org.ns/widgets">
  <preference name="orientation" value="default" />
  <preference name="phonegap-version" value="3.5.0" />
  <description>Juego de memoria que consiste en agrupar las distintas imagenes antes de que el tiempo se agote</description>
  <name>Memoria</name>
  <gap:platform name="winphone" />
  <gap:platform name="ios" />
  <gap:platform name="android" />
  <preference name="LogLevel" value="ERROR" />
  <preference name="LoadingDialog" value="Memoria, Iniciando aplicacion..." />
  <preference name="android-minSdkVersion" value="7" />
  <preference name="AndroidLaunchMode" value="singleTop" />
  <preference name="PaginationMode" value="unpaginated" />
  <preference name="SplashScreenDelay" value="3000" />
  <preference name="prerendered-icon" value="true" />
  <preference name="PaginationBreakingMode" value="page" />
  <preference name="android-installLocation" value="auto" />
  <preference name="android-targetSdkVersion" value="7" />
  <preference name="android-maxSdkVersion" value="7" />
  <preference name="TopActivityIndicator" value="gray" />
  <preference name="target-device" value="universal" />
  <preference name="LoadingPageDialog" value="Memoria, Iniciando nueva pagina..." />
  <preference name="BackupWebStorage" value="cloud" />
  <preference name="LoadUrlTimeoutValue" value="20000" />
  <preference name="UIWebViewDecelerationSpeed" value="normal" />
  <icon src="/img/default.png" />
  <feature name="http://api.phonegap.com/1.0/camera" />
  <feature name="http://api.phonegap.com/1.0/file" />
  <feature name="http://api.phonegap.com/1.0/geolocation" />
  <feature name="http://api.phonegap.com/1.0/media" />
  <feature name="http://api.phonegap.com/1.0/network" />
  <feature name="http://api.phonegap.com/1.0/battery" />
  <feature name="http://api.phonegap.com/1.0/contacts" />
  <feature name="http://api.phonegap.com/1.0/notification" />
  <access origin="*" subdomais="false" launch-external="no" />
  <gap:plugin name="org.apache.cordova.globalization" />
  <gap:plugin name="org.apache.cordova.battery-status" />
  <gap:plugin name="org.apache.cordova.network-information" />
  <gap:plugin name="org.apache.cordova.camera" />
  <gap:plugin name="org.apache.cordova.device-motion" />
  <gap:plugin name="org.apache.cordova.file-transfer" />
  <gap:plugin name="org.apache.cordova.inappbrowser" />
  <gap:plugin name="org.apache.cordova.contacts" />
  <gap:plugin name="org.apache.cordova.console" />
  <gap:plugin name="org.apache.cordova.geolocation" />
  <gap:plugin name="org.apache.cordova.splashscreen" />
  <gap:plugin name="org.apache.cordova.file" />
  <gap:plugin name="org.apache.cordova.device" />
  <gap:plugin name="org.apache.cordova.vibration" />
  <gap:plugin name="org.apache.cordova.media-capture" />
  <gap:plugin name="org.apache.cordova.media" />
  <gap:plugin name="org.apache.cordova.dialogs" />
  <gap:plugin name="org.apache.cordova.device-orientation" />
  <author>Autor ....</author>
</widget>
